<div class="text-block">
  {% for paragraph in this.text.__html__().split('<p') %}
    {% if paragraph %}
    <p{{ paragraph }}
    {% if range(1, 6)|random == 2 %}
      <div class="news-article-ad-container">
        <img src="{{ '/static/fake_ad_1.png' | url }}" class="news-article-ad">
        <!--<img src="{{ '/static/fake_ad_2.png' | url }}" class="news-article-ad">
        <img src="{{ '/static/fake_ad_3.png' | url }}" class="news-article-ad">-->
      </div>
    {% endif %}
    {% endif %}
  {% endfor %}
</div> <!-- END text-block -->
