@media screen and (max-width: 950px) {

  body .page div.news-article {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

}

@media screen and (max-width: 1400px) {

  .page div.news-article {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

}



body {
    font-family: mono;
    margin: 50px 25px;
}

a {
    color: #2a99b6;
}

a:hover {
    color: #33bbdf;
}

header, footer, div.page {
    width: 85%;
    margin: 0 auto;
    background: #333333;
    padding: 20px 30px;
}

footer {
    color: white;
}

header h1 {
    font-family: mono;
    color: #ffffff;
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}


header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

div.page {
    background: #eeeeee;
}

body {
    background: #eeeeee;
}

img.news_banner {
    max-height: 30em;
    max-width: 100%;
    margin: auto;
    text-align: center;
    display: block;
}


img.news_photo {
    width: 100%;
}

div.splashsection {
    border-width: 1px;
    border-style: solid;
    border-color: #333333;
}

div.photo-caption {
    color: #888;
    font-size: .8em;
    text-align: center;
}

div.photo-with-caption {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

div.news-teaser {
    text-align: center;
}

div.news-teaser-date {
    font-size: .7em;
}

div.news-article {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
}
