{% extends "layout.html" %}
{% set siblings = this.get_siblings() %}

{% from "macros/ads.html" import render_ad %}

{% block title %}{{ this.title }}{% endblock %}
{% block body %}

  {% set rand = range(0, 10) | random %}
	
	{% for i in range(0, 3) %}
		<div id="ad-template-{{ i }}" class="news-article-ad-container-mobile-template" style="display: none">
				{{ render_ad(rand + i) }}
		</div>
	{% endfor %}

  <script>
    setTimeout(function() {
				var textBlocks = Array.prototype.map.call(document.getElementsByClassName("text-block"), function (x) { return x.children; });
				var flattened = [];
				for (var i=0; i < textBlocks.length; i++) {
						for (var j=0; j < textBlocks[i].length; j++) {

								// no ads in footnotes
								if (textBlocks[i][j].className.indexOf("footnotes") == -1) {
										flattened.push(textBlocks[i][j]);
								}
						}
				}

				if (flattened.length == 0) {
						return;
				}

				var adElems = document.getElementsByClassName("news-article-ad-container-mobile-template");

				var charsWithoutAd = 0;
				var paragraphsWithoutAd = 0;
				var didPlaceAd = false;

				var placeAd = function (e, adIndex) {
						var clonedAd = adElems[adIndex % adElems.length].cloneNode(true);
						clonedAd.id = "";
						clonedAd.style.display = "";
						clonedAd.className = "news-article-ad-container-mobile";

						elem.parentElement.insertBefore(clonedAd, elem.nextSibling);
				};

				var adIndex = Math.floor(Math.random() * 10);

				for (var i=0; i < flattened.length; i++) {
						var elem = flattened[i];

						charsWithoutAd += elem.innerText.length;
						paragraphsWithoutAd++;

						if (charsWithoutAd > 800 && paragraphsWithoutAd > 2) {
								charsWithoutAd = 0;
								paragraphsWithoutAd = 0;
								didPlaceAd = true;
								placeAd(elem, adIndex);
								adIndex++;
						}
				}

				if (!didPlaceAd) {
						placeAd(flattened[flattened.length - 1], adIndex);
				}
    }, 0);
  </script>

	<div class="news-header">
		<div class="news-header-title">{{ this.title }}</div>
				<p class="meta">
						{% if this.twitter_handle %}
						<a href="https://twitter.com/{{ this.twitter_handle
								}}">{{ this.author or this.twitter_handle }}</a>
						{% else %}
						{{ this.author }}
						{% endif %}
						<br/>
						{{ this.pub_date|dateformat('full') }}
				</p>

		<div class="news_banner_container">
				<img src="{{ this.banner_img }}" alt="" class="news_banner">
		</div>
	</div>
	<div class="news-body">
		<div class="news-article">
				<div class="news-article-ads">
						{% set articleLength = this.body.blocks[0].text | string | striptags | length %}
						{% set numImages = [] %}

						{% for a in this.body.blocks %}
							{% if a.image and numImages.append(1) %}
							{% endif %}
						{% endfor %}

						{% set articleLength = articleLength + (2500 * (numImages | length)) %}

						{% if articleLength < 1500 %}
								{% set numAds = 0 %}
						{% elif articleLength < 3500 %}
								{% set numAds = 1 %}
						{% else %}
								{% set numAds = 2 %}
						{% endif %}

						{% if numAds > 0 %}
								<div class="news-article-ad-container-desktop news-article-ad-top">
										{{ render_ad(rand) }}
								</div>
						{% endif %}
						{% if numAds > 1 %}
								<div class="news-article-ad-container-desktop news-article-ad-bottom">
										{{ render_ad(rand + 1) }}
								</div>
						{% endif %}
						{% if numAds > 2 %}
								<div class="news-article-ad-container-desktop news-article-ad-middle">
										{{ render_ad(rand + 2) }}
								</div>
						{% endif %}
				</div>

				<div class="news-article-body">
						{{ this.body }}
				</div>
		</div>
		<div class="news-article-below">
				{% if this.tags %}
						{% for t in this.tags -%}
								<div class="news-article-tag">
								<a href="{{ ('/news/tag/' ~ t)|url }}">{{ t }}</a>
								</div>
						{% endfor %}
				{% endif %}

				<div class="news-navigation-node">
						{% if siblings.prev_page %}
								<a href="{{ siblings.prev_page|url }}">&laquo; previous</a>
						{% endif %}
						{% if siblings.prev_page and siblings.next_page %}
						/ 
						{% endif %}
						{% if siblings.next_page %}
								<a href="{{ siblings.next_page|url }}">next &raquo;</a>
						{% endif %}
				</div>
		</div>
	</div>
{% endblock %}
