{% extends "layout.html" %}
{% set siblings = this.get_siblings() %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <div class="news_banner_container">
    <img src="{{ this.banner_img }}" alt="" class="news_banner">
    <div class="news-navigation-node">
    {% if siblings.prev_page %}
      <a href="{{ siblings.prev_page|url }}">previous</a>
    {% endif %}
    {% if siblings.next_page %}
      <a href="{{ siblings.next_page|url }}">/next</a>
    {% endif %}
    </div>
  </div>
  <div class="news-article">
    <div class="news-article-header">
      <h2>{{ this.title }}</h2>
      <p class="meta">
        written by
        {% if this.twitter_handle %}
          <a href="https://twitter.com/{{ this.twitter_handle
            }}">{{ this.author or this.twitter_handle }}</a>
        {% else %}
          {{ this.author }}
        {% endif %}
        on {{ this.pub_date|dateformat('full') }}
      </p>
    </div>
    <div class="pure-u-1 news-article-body">
      {{ this.body }}
    </div> <!-- END news-article-body -->

    {% if this.tags %}
        Tags:
        {% for t in this.tags -%}
          <div class="news-article-tag">
            <a href="{{ ('/news/tag/' ~ t)|url }}">{{ t }}</a>
          </div>
        {% endfor %}
    {% endif %}

  </div> <!-- END news-article -->
{% endblock %}
