{% extends "layout.html" %}
{% from "macros/news.html" import render_news_teaser %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <h2>{{ this.title }}</h2>
  {{ this.body }}
  {% for child in this.children if child.record_label == 'News' %}
  <div class="splashcontainer">
  <div class="splashsection">
    <h3>Latest News</h3>
    {% for news_article in child.children %}
    {% if loop.index <= 3 %}
      {{ render_news_teaser(news_article) }}
    {% endif %}
    {% endfor %}
    <a href={{ child.path | url}}><h3>more...</h3></a>
  </div>
  <div class="splashsection">
    <h3>More News</h3>
    {% for news_article in child.children %}
    {% if 3 < loop.index <= 6 %}
      {{ render_news_teaser(news_article) }}
    {% endif %}
    {% endfor %}
    <a href={{ child.path | url}}><h3>more...</h3></a>
  </div>
  </div>
  {% endfor %}
{% endblock %}
