{% extends "layout.html" %}
{% from "macros/news.html" import render_news_teaser %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <div class="splash-message">
    <p>
    {{ this.body }}
    </p>
  </div>
  <div class="pure-g">
  </div>
  <div class="pure-g">
		{% for child in this.children if child.record_label == 'News' %}
				<div class="pure-u-1 news-splash">
						{% for news_article in child.children %}
								{% if loop.index <= 10 %}
										{{ render_news_teaser(news_article) }}
								{% endif %}
						{% endfor %}
				</div>
				<div class="pure-u-1 news-splash">
                    <div class="page-footer">
                        <div class="page-footer-more">
                            <a href="./news/page/2">More stories</a>
                        </div>
                    </div>
				</div>
		{% endfor %}
  </div>

{% endblock %}
