{% extends "layout.html" %}
{% from "macros/news.html" import render_news_teaser %}
{% from "macros/news-list.html" import render_news_list %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  <div class="splash-message">
    <p>
    {{ this.body }}
    </p>
  </div>
  <div class="pure-g">
  </div>
  {% for child in this.children %}
    {% if child.record_label == 'News' %}
        {{ render_news_list(child.children) }}
    {% endif %}
  {% endfor %}
   <div class="pure-u-1 news-splash">
       <div class="page-footer">
           <div class="page-footer-more">
               <a href="./news/page/2">More stories</a>
           </div>
       </div>
   </div>
{% endblock %}
