@media screen and (max-width: 950px) {
		body nav div.nav-link {
				font-size: 1.3em;
				background-color: #ceffe8;
		}

		body h3 {
				font-size: 2em;
		}

		body h3.page-header {
				text-align: left;
				padding-left: .2em;
		}
}

.clearfix:after {
		clear: both;
		content: "";
		display: table;
}

nav div.nav-link {
    text-align: center;
    font-size: 1.8em;
    background-color: #333;
}

nav a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

body {
    font-family: 'Work Sans', sans-serif;
}

.news-article .text-block {
    font-family: 'Alegreya', serif;
    font-size: 1.2em;
    line-height: 1.4em;
    width: 95%;
    margin: auto;
    text-align: justify;
}

.news-article blockquote {
   color: #555555;
}

a {
    color: #2a99b6;
}

a:hover {
    color: #33bbdf;
}

header {
    width: 100%;
    background: #333333;
    height: 90px;
}

div.header-logo {
		float: left;
		margin-top: 4px;
}

div.header-text {
		float: left;
		height: 100%;
}

div.header-social-logos {
		float: right;
		padding-right: 16px;
}

div.header-text-tag {
		float: left;
		font-size: 24px;
		padding: 0 16px;
		margin-top: 27px;
}

footer {
    width: 100%;
    background: #333333;
    padding: 1em 0 1em 0;
    color: white;
}

div.page {
    text-align: center;
    margin: 0 auto;
}

header h1 {
  margin: 0 auto;
}

img.banner_logo {
    max-height: 8em;
    max-width: 95%;
    display:inline-block;
    margin: 0 auto;
}

div.page {
    background: #FFFFFF;
}

body {
    background: #FFFFFF;
}

div.news_banner_container {
  text-align:center;
}

img.splash-ad {
  max-height: 14em;
  width: 30%;

}

img.news_banner {
    max-height: 30em;
    max-width: 95%;
    margin: auto;
    text-align: center;
    display: inline-block;
}


img.news_photo {
    width: 100%;
}


div.splash_ads {
  float: left;
  overflow: hidden;
  height: 62em;
}

div.splash_ads img {
  height: 8em;
  display: block;
}


div.photo-caption {
    color: #888;
    font-size: .8em;
    text-align: center;
}

div.photo-with-caption {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

div.news-splash {
		max-width: 860px;
		margin: 0 auto;
}

div.news-article-header {
  margin: 0 auto;
  background-color: #333333;
  color: #fff;
  padding: 0em 1em;
  max-width: 700px;
}

div.news-article-header a {
  color: #bbf;
}

div.news-teaser {
		width: 100%;
		border-bottom: 1px solid #e6f1ef;
		padding-bottom: 32px;
		padding-top: 32px;
}

div.news-teaser-tags-and-date-holder {
		padding-top: 9px;
}

div.news-teaser-image {
		float: left;
		width: 25%;
}

div.news-teaser-image img {
		width: 100%;
}

div.news-teaser-text-block {
  display:inline-block;
  background-color: #fff;
  color: #333;
  font-size: 1.2em;
  text-align: center;
  width: 75%;
	padding-left: 16px;
}

div.news-teaser-title {
  background-color: #fff;
  text-decoration: none;
	color: #333;
	font-size: 35px;
	font-weight: bold;
	text-align: left;
	line-height: 40px;

	transition: color .1s,background-color .1s,fill .1s;
	webkit-transition: color .1s,background-color .1s,fill .1s;
}

div.news-teaser-title:hover {
	color: #718a83;
}

div.news-teaser-date {
  background-color: #fff;
  font-size: 16px;
	float: left;
	text-align: left;
}

div.news-teaser-summary {
	padding-top: 16px;
	font-size: 13px;
	text-align: left;
}

div.news-teaser-tag {
		transition: color .1s,background-color .1s,fill .1s;
		webkit-transition: color .1s,background-color .1s,fill .1s;

		background: #546662;
		padding: 0 8px;
		margin: 0 4px;
		font-weight: 300;
		font-size: 15px;
		float: left;
}

div.news-teaser-tag:hover {
		background: #42514e;
}

div.news-teaser-tag-holder a {
		color: #FFF;
}

div.news-teaser-tag-holder {
	float: left;
	padding-left: 16px;
}

.news-teaser a {
  text-decoration: none;
}

.news-navigation-node > a { 
  font-size: 1.4em;
}

div.splash-message {
  background-color: #fff;
  margin: 0;
  color: #333;
  text-align: center;
  font-size: 1.2em;
}

.splash-message p {
  margin: 0;
}

img.news-article-ad {
  width: 30%;
  display: inline-block;
  margin: 0 auto;
  min-width: 200px;
  max-width: 250px;
}

div.news-article-ad-container {
  text-align: center;
}

div.splash-ad-container {
  margin: 0 auto;
}

div.news-article-tag {
  border-color: black;
  border-style: solid;
  border-width: .1em;
  display: inline-block;
  width: 120px;
  margin: 0 auto;
  overflow: hidden;
}

div.news-article-tag a {
  color: black;
  font-style: italic;
  text-decoration: none;
}

div.social_media_links {
  text-align: center;
  background-color: #333333;
}

div.social_media_links a {
  text-decoration: none;
}

img.nav-social-logo {
  height: 30px;
  margin: 0 auto;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 32px;
  display: inline-block;
  float: right;
}

h3 {
  font-family: 'Shrikhand', cursive;
  text-transform: lowercase;
  font-size: 3em;
  background-color: #333333;
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 0 2em 0 2em;
  width: 100% - 4em;
}

h3.page-header {
  text-align: left;
  padding-left: 2em;
}

div.page-footer {
  font-size: 24px;
	padding: 16px 0;
	text-align: center;
}

div.page-footer-more {
	background-color: #eb4c41;
	width: 100%;
	margin: 0 auto;
	padding: 4px 0;
}

div.page-footer-more:hover {
	background-color: #d34238;
}

div.page-footer-more a {
	color: #FFF;
}

div.page-footer-more a:hover {
	text-decoration: none;
}

h3 a {
  text-decoration: none;
  color: white;
}

img.news_photo {
  max-width: 1400px;
}
